body{
    background-image: url("myWebsite/pexels-aarti-vijay-2693529.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#Text{ 
    color:rgb(0, 0, 0);
    font-family: "consolas",sans-serif;
    background : linear-gradient(to right,lightgreen,rgb(255, 255, 255)); background-repeat: no-repeat; background-attachment: fixed;
    position: relative;
    
}
h1{
    font-family: "consolas",sans-serif;
    background : linear-gradient(to right,lightgreen,rgb(255, 255, 255)); background-repeat: no-repeat; background-attachment: fixed;
    text-shadow: 0px 0px 5px green, 0px 0px 5px skyblue;
}
#b1{
    position: relative;
    bottom: 44px;
    left: 500px;
}
#b2{
    position: relative;
    bottom: 44px;
    left: 420px;
}